<div class="col-md-6">
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-5 text-end pe-4">
          <div class="position-relative">

            <div class="my_row">

              <h2 class="{{ 'text-success' if game.player1_place < game.player2_place }}" style="display: inline-block;">
                {{ game.player1_place }}
              </h2>
            </div>

            <small class="text-muted d-block">
              {{ game.player1_hero.name }}
            </small>
          </div>
        </div>

        <div class="col-2 text-center">
          <div class="vr h-100"></div>
        </div>

        <div class="col-5 ps-4">
          <div class="position-relative">
            <h2 class="{{ 'text-success' if game.player2_place < game.player1_place }}">
              {{ game.player2_place }}
            </h2>
            <small class="text-muted d-block">
              {{ game.player2_hero.name}}
            </small>
          </div>
        </div>
      </div>
      <div class="mt-3 text-end">
        <small class="text-muted">
          <i class="bi bi-clock-history me-1"></i>
          {{ game.timestamp|datetimeformat }}
        </small>
      </div>
    </div>
  </div>
</div>