{% extends "base.html" %}

{% block content %}
<section class="main-battle-section">
    <div class="row align-items-center">
        <table class="table table-bordered text-center mytable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата и время</th>
                    <th scope="col">И1. Герой (Место) </th>
                    <th scope="col">И2. Герой (Место) </th>
                    <th scope="col" class="text-center">Флаг расчёта</th>
                    <th scope="col" class="text-center">Удалить</th>
                </tr>
            </thead>`
            {% for game in games %}
            <tr>
                <td>{{ game.id }} </td>
                <td>{{ game.timestamp }}</td>
                <td>{{ game.player1_hero.name }} <br> {{ game.player1_place }}</td>
                <td>{{ game.player2_hero.name }} <br> {{ game.player2_place }}</td>
                <td class="text-center">

                        <form action="/games/toggle_flag/{{ game.id }}" method="POST" class="d-inline">
                            {% if game.fl_calculated %}
                            <span class="calculated-flag">
                                &#x2714; <!-- Зеленая галочка -->
                            </span>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-success btn-sm">
                            {% if game.fl_calculated %}
                                Отмена
                            {% else %}
                                Расчитать
                             {% endif %}
                            </button>
                        </form>

                    </td>
                <td class="text-center">
                    <form action="/games/delete/{{ game.id }}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th colspan="8">
                    <a href="/games/add" class="btn btn-primary">Добавить новую игру</a>
                </th>
            </tr>
        </table>

    </div>
</section>
{% endblock %}