{% extends "base.html" %}

{% block content %}
    <section class="main-battle-section">
        <div class="row align-items-center">
            <div class="col-5">
                <h3 class="player1-name text-center">Вано90210</h3>
                <div>
                    {% set data_stat = player1_stats %}

                    {% include 'components/stat_index_table_item.html' %}
                </div>
            </div>

            <div class="col-2 text-center">
                <h1 class="score-display" style="color: {{ total_score.score_color }}"> {{ total_score.txt_score }}</h1>
                {% for day_score in scores_5day %}
                    <div class="score-table-row">
                        <table class="table">
                            <tr style="color: {{ day_score.score_color}}">
                                <td>{{ day_score.day }}</td>
                                <td>{{ day_score.score }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>

            <div class="col-5">
                <h3 class="player2-name text-center">Илюша80210</h3>
                <div>
                {% set data_stat = player2_stats %}

                {% include 'components/stat_index_table_item.html' %}

            </div>
        </div>
    </section>

    <div class="admin-controls d-flex justify-content-end">
        {% if session.logged_in %}
            <button class="btn btn-primary me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#addResultModal">
                Добавить результат
            </button>
            <a href="/logout" class="btn btn-danger">Выйти</a>
        {% else %}
            <button class="btn btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal">
                Админ-Шмандмин
            </button>
        {% endif %}
    </div>

    <div class="row g-4">
        {% for game in games %}
            {% include 'components/game_item.html' %}
        {% endfor %}
    </div>

    {% include 'components/add_result_modal.html' %}

{% endblock %}